*{
    margin: 0;
    padding: 0;
}

.wrap{
    margin: 0 auto;
    width: 1920px;
}

.heading{
    background-image: url(https://2.downloader.disk.yandex.ru/preview/c1744eff828ce47e6e01296bfc15cd4870ada3d0201474c27acd0d8f14fe00b4/inf/9qP1Xtm-vYya9IryGl_tz-H7L9diTpq5BM9sFvSH_9Pe_ZJZ6NQClhQi22wR6R14EQ7ZvVL1xGww07j9N02zAQ%3D%3D?uid=332022222&filename=bg_header.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=332022222&tknv=v2&size=1894x1894);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 50px;
}

.heading-logo-title{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}

.heading-logo-a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 184px;
    align-items: center;
}

.heading-menu-content{
    display: inline-block;
    margin: 0px 12px;
}

.heading-menu-item{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    transition: 0.2s;

}

.heading-menu-item:hover{
    color: #C7B299;
}

.heading-menu-icon{
    margin-left: 54px;
}

.heading-menu-img{
    transition: 0.2s;
}

.heading-menu-img:hover{
    color: #C7B299;
}

.heading-menu-icons{
    margin-left: 10px;
}

.heading-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.slider-main-title-up{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.slider-main-title{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
}

.slider-main-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.slider-main-button{
    background-color: #988574;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 19px 40px;
    margin-top: 49px;
    border: none;
}

.heading-slider-main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.heading-slider{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}

.heading-pagination{
    text-align: center;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 95px;
    margin: 0 auto;
    margin-top: 300px;
    padding-bottom: 40px;
    list-style-type: none;
}

.heading-pagination-elipse{
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;

    
    width: 12px;
    height: 12px;
}

.heading-pagination-elipse-active{
    border: 1px solid #D3C1AD;
    background-color: transparent;
    width: 13px;
    height: 13px;
}

.services-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 84px;
}

.services-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;

    transition: 0.2s;
}

.services-item:hover{
    transform: scale(1.2);
}

.services-item:hover .services-icon{
    transform: rotateY('360deg');
}

.services-item:hover .services-title{
    color: #C7B299;
}

.services-item:hover .services-line{
    background-color: #C7B199;
}

.services-title{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;

    margin-top: 30px;
}

.services-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 270px;

    margin-top: 20px;
}

.services-line{
    border: none;
    background-color: #F1EEE9;
    width: 70px;
    height: 3px;
    margin-top: 30px;
}

.realization{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #E5E5E5;
}

.realization-title{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;

    margin-top: 80px;
}

.realization-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;

    margin-top: 20px;
    width: 770px;
    text-align: center;
}

.realization-img{
    margin-top: 42px;
}

.wordpress{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.wordpress-pos{
    margin: 0 auto;
    padding: 45px 0px;
    width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordpress-title{
    display: flex;
    justify-content: space-around;
    width: 524px;
}

.wordpress-left-a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #C7B299;
}

.wordpress-left-title{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.wordpres-left-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #615855;
}

.wordpess-button{
    text-decoration: none;
    border: none;
    background: #988574;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 19px 30px;
}